@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import 'tailwindcss';

@theme {
  --color-neutral-50: #f5f7fa;
  --color-neutral-100: #f3f5f8;
  --color-neutral-200: #e0e4ea;
  --color-neutral-300: #cacfd8;
  --color-neutral-400: #99a0ae;
  --color-neutral-500: #717784;
  --color-neutral-600: #525866;
  --color-neutral-700: #2b303b;
  --color-neutral-800: #232530;
  --color-neutral-900: #191b25;
  --color-neutral-950: #0e121b;
  --color-blue-50: #ebf1ff;
  --color-blue-500: #335cff;
  --color-blue-700: #2547d0;
  --color-red-50: #ffebec;
  --color-red-500: #fb3748;
  --color-green-50: #e0faec;
  --color-green-500: #21c16b;

  --text-12: 12px;
  --text-14: 14px;
  --text-16: 16px;
  --text-20: 20px;
  --text-24: 24px;

  --font-inter: 'Inter', sans-serif;
  --font-noto-serif: 'Noto Serif', serif;
  --font-source-code-pro: 'Source Code Pro', monospace;
  --font-app: var(--font-inter);
}

[data-font='sans-serif'] {
  --font-app: var(--font-inter);
}

[data-font='serif'] {
  --font-app: var(--font-noto-serif);
}

[data-font='monospace'] {
  --font-app: var(--font-source-code-pro);
}

@layer base {
  *:focus-visible {
    @apply outline-2 outline-offset-2 outline-neutral-400;
  }

  html {
    @apply h-full font-app text-neutral-950 bg-neutral-100 lg:bg-white;
  }

  body {
    @apply h-full font-normal text-14 leading-[1.3];
  }
}

@layer components {
  .custom-container {
    @apply w-full mx-auto px-4 sm:max-lg:px-8;
  }

  .overlay {
    @apply fixed inset-0 z-9999 max-h-dvh flex flex-col bg-neutral-950/50 overflow-auto;
  }

  .modal {
    @apply max-w-120 w-full m-auto flex bg-white rounded-xl overflow-hidden;
  }

  .link {
    @apply transition-all duration-300 hover:text-blue-500!;
  }

  .underline-link {
    @apply underline transition-all duration-300 hover:decoration-transparent hover:text-blue-500!;
  }

  .typical-content {
    @apply w-full flex flex-col gap-3 text-preset-5 wrap-break-word whitespace-pre-wrap;
  }

  .quill h2,
  .typical-content h2 {
    @apply text-preset-2;
  }

  .quill h3,
  .typical-content h3 {
    @apply text-preset-3;
  }

  .quill h4,
  .typical-content h4 {
    @apply text-preset-4;
  }

  .quill h5,
  .typical-content h5 {
    @apply text-preset-5;
  }

  .quill h6,
  .typical-content h6 {
    @apply text-preset-6;
  }

  .quill p:empty,
  .typical-content p:empty {
    @apply h-3;
  }

  .quill ul,
  .typical-content ul {
    @apply list-disc list-inside;
  }

  .quill ol,
  .typical-content ol {
    @apply list-decimal list-inside;
  }

  .quill blockquote,
  .typical-content blockquote {
    @apply pl-3 border-l-4 border-blue-500 italic;
  }

  .quill pre,
  .typical-content pre {
    @apply p-3 text-white bg-neutral-950 rounded-lg font-source-code-pro wrap-break-word whitespace-pre-wrap;
  }

  .ql-snow a {
    @apply text-blue-500!;
  }

  .quill a,
  .typical-content a {
    @apply text-blue-500 underline transition-all duration-300 hover:decoration-transparent;
  }

  .quill,
  .ql-toolbar,
  .ql-container {
    @apply font-[inherit]! text-preset-5;
  }

  .quill {
    @apply h-full wrap-break-word whitespace-pre-wrap;
  }

  .ql-container {
    @apply max-h-[calc(100%-(46px+12px))] sm:max-h-[calc(100%-(25px+16px))] h-full min-h-60;
  }

  .ql-snow .ql-picker-label {
    @apply border-neutral-200! rounded-sm;
  }

  .ql-tooltip,
  .ql-toolbar.ql-snow .ql-picker-options,
  .ql-toolbar.ql-snow {
    @apply border-neutral-200! rounded-lg;
  }

  .ql-container.ql-snow {
    @apply border-none!;
  }

  .ql-snow.ql-toolbar button,
  .ql-snow.ql-toolbar .ql-picker-label,
  .ql-snow.ql-toolbar .ql-picker-item,
  .ql-tooltip {
    @apply text-[#333]!;
  }

  .ql-snow .ql-stroke {
    @apply stroke-[#333]!;
  }

  .ql-snow .ql-fill {
    @apply fill-[#333]!;
  }

  .ql-snow.ql-toolbar button:hover,
  .ql-snow.ql-toolbar button:focus,
  .ql-snow .ql-toolbar button.ql-active,
  .ql-snow.ql-toolbar .ql-picker-label:hover,
  .ql-snow.ql-toolbar .ql-picker-label.ql-active,
  .ql-snow.ql-toolbar .ql-picker-item:hover,
  .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
    @apply text-blue-500!;
  }

  .ql-snow.ql-toolbar button:hover .ql-stroke,
  .ql-snow.ql-toolbar button:focus .ql-stroke,
  .ql-snow .ql-toolbar button.ql-active .ql-stroke,
  .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
  .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
  .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
  .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke {
    @apply stroke-blue-500!;
  }

  .ql-snow.ql-toolbar button:hover .ql-fill,
  .ql-snow.ql-toolbar button:focus .ql-fill,
  .ql-snow .ql-toolbar button.ql-active .ql-fill,
  .ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
  .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
  .ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
  .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill {
    @apply fill-blue-500!;
  }
}

@utility text-preset-6 {
  @apply font-normal text-12 leading-[1.3] -tracking-[0.2px];
}

@utility text-preset-5 {
  @apply font-normal text-14 leading-[1.3] -tracking-[0.2px];
}

@utility text-preset-4 {
  @apply font-medium text-14 leading-[1.2] -tracking-[0.2px];
}

@utility text-preset-3 {
  @apply font-semibold text-16 leading-[1.2] -tracking-[0.3px];
}

@utility text-preset-2 {
  @apply font-bold text-20 leading-[1.2] -tracking-[0.5px];
}

@utility text-preset-1 {
  @apply font-bold text-24 leading-[1.2] -tracking-[0.5px];
}
